.answer:hover, .answer.active{
    background: linear-gradient(to right, rgb(254, 249, 195), rgb(253, 224, 71), rgb(234, 179, 8))

    /* transition: all ease-in-out 2s; */
}

.answer.correct{
    animation: correct 3s ease forwards;
}

@keyframes correct {
    0%, 22%, 42%{
        background: linear-gradient(rgb(17, 24, 39), rgb(88, 28, 135), rgb(124, 58, 237));
    }
    20%, 40%, 60%{
        background: linear-gradient(to right, rgb(254, 249, 195), rgb(253, 224, 71), rgb(234, 179, 8));
    }
    62%, 100%{
        background: green;
    }
}

.answer.wrong{
    animation: wrong 3s ease forwards;
}

@keyframes wrong {
    0%, 22%, 42%{
        background: linear-gradient(rgb(17, 24, 39), rgb(88, 28, 135), rgb(124, 58, 237));
    }
    20%, 40%, 60%{
        background: linear-gradient(to right, rgb(254, 249, 195), rgb(253, 224, 71), rgb(234, 179, 8));
    }
    62%, 100%{
        background: red;
    }
}